{% extends 'base.html' %}
{% block content %}
<div style='padding:8rem' class="alert alert-secondary" role="alert">
    <div class="alert alert-secondary" role="alert">
        <h2>Login Page</h2><br>    
    
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Log In</button>
            </form>   
            <p>Don't forget your password.You don't have option to reset password 
                so, Carefully handle your Account password.</p>
    
    </div>
</div>

{% endblock content %}