{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div style='padding:40px' class="alert alert-secondary " role="alert">
    <div style='padding:40px' class="alert alert-secondary " role="alert">
        <h1><strong>New post</strong></h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form | crispy }}
            <input type="submit" value="Save">
        </form>
    </div>
</div>   
{% endblock content %}
