{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

  
        <h2><a href=""><strong>{{ data.title }}</strong></a></h2>
        <div style='padding:3rem' class="card-footer text-center text-muted">
            <a><strong>{{data.author }}</strong></a> | <a>{{ data.created_at }}</a>
                <img class="img-fluid" src="{{data.img.url}}" alt="Smiley face">
        </div>
            <p>{{ data.description|safe }}</p>
                <p>{{ data.body|safe }}</p> 
        <div class="btn-group alert-success" role="group" aria-label="Basic example">
                <button><a href="{% url 'blog_edit' data.pk%}">Edit</a></button>
                <button><a href="{% url 'blog_delete' data.pk%}">Delete</a></button>
        </div>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.media}}
                {{ form | crispy }}
                <input type="submit" value="Save">
            </form>
            <div class="alert alert-secondary " role="alert">
                {% for comment in comments %}
                    <a><strong>{{comment.author}}</strong></a> | <a>{{comment.created_at}}</a>
                    <p>{{comment.comment|safe}}</p>
                {% endfor %}
            </div>

   

{% endblock content %}