{% extends 'base.html' %}
{% load static %}
{% block content %}
        {% for post in dataset %}
            <h2><a href="{% url 'blog_datail' post.id%}"><strong>{{ post.title }}</strong></a></h2>
                <a>{{post.author}}</a> | <a>{{post.created_at}}</a>
            <div style='padding:3rem' class="alert alert-secondary" role="alert">
                <img src="{{post.img.url}}" class="img-fluid" alt="...">
            </div>            
            <p>{{ post.description|safe }}</p>
        {% endfor %}

{% endblock content %}

