{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style='padding:40px' class="alert alert-secondary text-center" role="alert">
    <div style='padding:20px' class="alert alert-secondary" role="alert">
        {% for post in dataset %}
        
            <div style='padding:20px' class="alert alert-secondary" role="alert">   
            <h2><a href="{% url 'blog_datail' post.id%}"><strong>{{ post.title }}</strong></a></h2>
            
                <a>{{post.author}}</a> | <a>{{post.created_at}}</a>
            </div>
     
            <div class="card-footer text-center text-muted">
            <img src="{{post.img.url}}" alt="Smiley face" width="800" height="300" >
            </div>
            <div style='padding:20px' class="alert alert-secondary " role="alert">
            <p>{{ post.description|safe }}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}

